.col{
    font-size: 16px;
    padding-bottom: 5px;
    padding-top:5px;
}

.col:hover{
    color:white;
    background-color: darkslateblue;
    cursor: pointer;
}
.selected_date{
    font-size:12px;
    color:darkslateblue;
    font-weight: bold;
}
.arrows{
    font-weight: bold;
    font-size: 18px;
}